.title-about-web {
    color: whitesmoke;
    text-align: center;
}

.about-web {
    margin-right: 160px;
    margin-top: 20px;
    margin-left:  40px;
}

.my-pic-web {
    float: left;
    margin-top: 5px;
    margin-right: 40px;
}

.text-about-web {
  color: lightblue;
}

.diplomas-about-web {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

@media screen and (min-width: 1497px) {
    .diplomas-about-web {
        margin-top: 80px;
    }
  }
@media screen and (min-width: 1648px) {
    .diplomas-about-web {
        margin-top: 100px;
    }
  }
@media screen and (min-width: 2014px) {
    .diplomas-about-web {
        margin-top: 150px;
    }
  }
@media screen and (min-width: 2217px) {
    .diplomas-about-web {
        margin-top: 200px;
    }
  }

.diploma1-img {
    border-radius: 8px;
}
.diploma2-img {
    border-radius: 8px;
}
.diploma3-img {
    border-radius: 8px;
}
.diploma4-img {
    border-radius: 8px;
}

.my-img {
    border-radius: 5px;
}

.menu-header-mobile {
    display:flex;
    flex-direction: row;
    
}

.menu-title-mobile {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-logo-mobile {
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;
}

.about-me-section-mob {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.my-pic-mob {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

.text-about-mob {
    color: lightblue;
    
}

.diplomas-container {
    text-align: center;
    margin-bottom: 65px;
}
  
.diploma-section {
    margin-bottom: 10px;
}

.diploma-img {
    border-radius: 10px;
}

