.about-me-container-mobile {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
}

.menu-header-mobile {
    display:flex;
    flex-direction: row;
    
}

.menu-title-mobile {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-logo-mobile {
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;
}

.about-me-section-mob {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.my-pic-mob {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    /* margin-left:  20px; */
}

.text-about-mob {
    color: lightblue;
    
}

.diplomas-container {
    text-align: center;
    margin-bottom: 65px;
}
  
.diploma-section {
    margin-bottom: 10px;
}

.diploma-img {
    border-radius: 10px;
}

