/* .header-about-me {
    display:flex;
    flex-direction: row;
   
}

.title-about-me {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-about-me {
    width: 45px;
    margin-top: 10px;
    margin-left: 15px;
} */

