/* .header-faq {
    display:flex;
    flex-direction: row;
    
}

.title-faq {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-faq {
    width: 45px;
    margin-top: 10px;
    margin-left: 15px;
} */