.title {
    color: whitesmoke;
    text-align: center;
}

.text-faq-web {
    color: whitesmoke;
    
}

.text-web {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.question {
  color: lightcoral
}

.answer {
  color: lightblue;
  
}