.copyrightWeb {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    opacity: 0.3;
   
}

.copyrightMob {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
    opacity: 0.3;
    background: whitesmoke;
}

