

body {
  margin: 0 auto;
  
}

.background-image {
  /* width: 100%;
  height: 100%; */
  /* margin: 0 auto; */
  /* display: flex; */
  
}

/* .landingText {
  position: relative;
  text-align: center;
  color:aliceblue
} */

.app {
  text-align: center;
}

.container {
}

.header {  
}

.title-container {
  flex-direction: row;
  display: flex;
  text-align: center;
  margin-top: -10px;
  width: 100%;
  position: relative;
  color: rgb(228, 238, 240)
}

.languages-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  
} 

.languages {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  margin-top: 50px;
  width: 120px;
}

.ua {
  
}

.title {
  width: 100%;
}

.title-contacts-container {
  width: 40%;
  
}

.title-contacts {
  /* background-color:gray; */
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;

}

.city {
  /* background-color:yellow; */
  justify-content: flex-start;
  display: flex;
  width:60%;
}

.phone {
  /* background-color: red; */
  justify-content: flex-start;
  display: flex;
  width:60%;
}

.social-network-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  width:60%;
}

.social-network {
  width: 20px;
  padding-right: 10px; 
}

/* .email {
  margin-top: 10px;
  justify-content: flex-start;
  display: flex;
} */

.title-second-line {
  margin-top: -20px;
}

.nav-panel {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; 
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
.right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.logo-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 250px;
  margin: -20px;
}

.sign-up-button {
  margin-top: 30px;
}