.app {
  text-align: center;
}

.home-page-container {
  display: flex;
  /* height: inherit; */
  /* overflow: auto; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-image: url(../public/background6.jpg); */
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');

}



.header {
  /* position:fixed; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.title-container {
  /* background-color: rgb(0, 255, 170); */
  flex-direction: row;
  display: flex;
  text-align: center;
  width: 100%;
  color: rgb(237, 242, 245);
}

.title {
  /* background-color: orange; */
  width: 100%;
}

.languages-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 50%;
  /* background-color: yellow; */
} 

.languages {
  /* background-color: aqua; */
  width: 15%;
}

.languages-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 50%;
  color: white;
}

.languages-mobile {
    /* background-color: aqua; */
  font-size: 17px;
  width: 40px;
  display: flex;
  align-items: center ;
  justify-content: center ;
  margin-top: -50px;
}

.logo-mobile-container {
  display: flex;
  align-items: center ;
  justify-content: center ;
  width: 50%;
  /* background-color: red; */
}

.logo-mobile {
  width: 60px;
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  align-items: flex-end;
  /* background-color:yellow */
}

@media screen and (max-width: 768px) {
  .city {
    display: none;
  }
  .phone {
    display: none;
  }
  .number {
    display: none;
  }
  .social-network {
    display: none;
  }
  .languages-container {
    display: none;
  }
  .massages {
    display: none;
  }
  .results {
    display: none;
  }
  .faq {
    display: none;
  }
  .about-me {
    display: none;
  }
  .reviews {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-title {
    display: none;
  }
  .sign-up-button {
    display: none;
  }
  .about-yumeiho-container-web {
    display: none;
  }
  
}

@media screen and (min-width: 767px) {
  .logo-mobile {
    display: none;
  }
  .logo-mobile-container {
    display: none;
  }
  .languages-mobile {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  
  .bottom-navbar {
    display: none;
  }
  /* .massages-container {
    display: none;
  } */
  .about-yumeiho-container {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .logo-mobile {
    width: 60px
  }
  .languages-mobile {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 12px;
  }
  .logo-mobile {
    width: 45px
  }
  .languages-mobile {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 10px;
  }
  .logo-mobile {
    width: 40px
  }
  .languages-mobile {
    font-size: 13px;
  }
}



.title-contacts-container {
  width: 50%;
  display: flex;
  align-items: center ;
  justify-content: center;
  margin-top: 8px
  /* background-color: red */
}

.title-contacts {
  display: flex;
  flex-direction: column;
  /* background-color:brown; */
  
}

.title-contacts-mobile {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 70%;
  align-items: center;
  justify-content: space-around;
  /* background-color: orange; */
}

.city-container {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
}

.city {
  
}

.phone-container {
  /* background-color: rgb(209, 26, 26); */
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.phone-icon {
  /* background-color: orange; */
  align-items: center;
  display: flex;
  padding: 2px 5px 2px 0;
}

.phone {
  width: 20px; 
}

/* .phone-mobile {
  width: 30px; 
} */

.phone-number {
  /* background-color:pink; */
  align-items: center;
  display: flex;
}

.social-network-container {
  display: flex;
  justify-content: flex-start;
  padding: 3px 0 0 0;
  /* background-color: green; */
}

.social-network {
  width: 30px;
  padding: 0 10px 0 0;
}

.instagram-facebook-phone-mobile {
  width: 35px;
}

.menu-icon-container {
  /* background-color: blue; */
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


/* .menu-mobile-container {
  background-color: purple;
  display: flex; 
  justify-content: center;
  width: 100%;
} */

/* .menu-mobile-page {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  flex-direction: column; */
  /* align-items: center; */
  /* height: 60%;
  width: 70%;
  margin-top: 50px;

} */

.btn-menu {
  width: 60px; 
  height: 40px; 
  /* margin: 179.9px 0px; */
}

.nav-panel {
  display: flex;
  margin-top: 20px;
  justify-content: space-between; 
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
.right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
/* .background-for-logo {
  width: 100%;
  background-image: url(../public/background.jpeg);
} */

.logo-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 250px;
  margin-top: 30px;
  /* margin-right: 28px; */
  /* background-color: orange; */
}

.sign-up-button {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-left: 28px; */
  /* display:flex;
  justify-content: center; */
  /* background-color: red; */
}

/* .popover-sign {
  display: "flex"; 
  justify-content: "space-around";
} */

.massages-container {
  margin-top: 50px;
}