.app {
  text-align: center;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -14px;
}

.title-container {
  flex-direction: row;
  display: flex;
  text-align: center;
  width: 100%;
  color: rgb(237, 242, 245);
}

.main-title {
  width: 100%;
  margin-top: 10px;
}

.title {
  width: 100%;
  margin-top: 10px;
}

.languages-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 50%;
} 

.languages {
  width: 15%;
}

.languages-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center ;
}

.languages-mobile {
  margin-top: 15px;
  width: 20%;
}

.logo-mobile-container {
  display: flex;
  align-items: center ;
  justify-content: center ;
  width: 50%;
}

.logo-mobile {
  margin-top: 10px;
}

@media screen and (max-width: 766px) {
  .city {
    display: none;
  }
  .phone {
    display: none;
  }
  .number {
    display: none;
  }
  .social-network {
    display: none;
  }
  .languages-container {
    display: none;
  }
  .languages {
    display: none;
  }
  .massages {
    display: none;
  }
  .results {
    display: none;
  }
  .faq {
    display: none;
  }
  .about-me {
    display: none;
  }
  .reviews {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-title {
    display: none;
  }
  .sign-up-button {
    display: none;
  }
  .about-yumeiho-container-web {
    display: none;
  }
 .copyrightWeb {
  display: none;
 }
 .title-container {
  margin-bottom: -30px;
}
.home-page-line-web {
  display: none;
}
  
}

@media screen and (min-width: 767px) {
  .main-title {
    font-size: 16px;
  }
  .logo-mobile {
    display: none;
  }
  .logo-mobile-container {
    display: none;
  }
  .languages-mobile {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  
  .bottom-navbar {
    display: none;
  }
  .about-yumeiho-container {
    display: none;
  }
  .copyrightMob {
    display: none;
   }
  .home-page-line-mob {
    display: none;
  }
}

@media screen and (min-width: 401px) {
  .logo-mobile {
    width: 102px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 12px;
  }
  
  .languages-mobile {
    font-size: 15px;
  }
  .main-title {
    font-size: 13px;
  }
}

@media screen and (max-width: 308px){
  .main-title {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 10px;
  }
  .languages-mobile {
    font-size: 13px;
  }
}

.title-contacts-container {
  width: 50%;
  display: flex;
  align-items: center ;
  justify-content: center;
  margin-top: 8px
}

.title-contacts {
  display: flex;
  flex-direction: column;
}

.title-contacts-mobile {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.city-container {
  display: flex;
  justify-content: flex-start;
}

.phone-container {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.phone-icon {
  align-items: center;
  display: flex;
  padding: 2px 5px 2px 0;
}

.phone {
  width: 20px; 
}

.phone-web {
  width: 25px;
  margin-right: 5px;
}

.phone-section-web {
  display: flex;
  flex-direction: row;
}

.phone-container-web {
  display: flex;
  flex-direction: column;
}

.phone-number {
  align-items: center;
  display: flex;
}

.social-network-container {
  display: flex;
  justify-content: flex-start;
  padding: 3px 0 0 0;
}

.social-network {
  width: 30px;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.facebook-icon-web {
  width: 35px;
  cursor: pointer;
}

.instagram-icon-web {
  width: 37px;
  cursor: pointer;
}

.instagram-facebook-phone-mobile {
  width: 35px;
}

.menu-icon-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.nav-panel {
  display: flex;
  margin-top: 30px;
  justify-content: space-between; 
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
.right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.logo-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 250px;
  margin-top: 20px;
}

.sign-up-button {
  text-align: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 40px;
}

.massages-container {
  margin-top: 30px;
}

.home-page-line-web {
  border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
}
.home-page-line-mob {
    border-top: 20px solid white;
    border-bottom: 20px solid white;
}