.menu-header-mobile {
    display:flex;
    flex-direction: row;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
}

.menu-title-mobile {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-logo-mobile {
    width: 45px;
    margin-top: 10px;
    margin-left: 15px;
}



