/* .header-reviews {
    display:flex;
    flex-direction: row;
   
}

.title-reviews {
    width:68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-reviews {
    width: 45px;
    margin-top: 10px;
    margin-left: 15px;
} */