.title {
    color: whitesmoke;
    text-align: center;
}

#more {
    display: none;
}

#btn {
    color: whitesmoke;
}

.review-container {
    margin-left: 30px;
    margin-right: 30px;
}

.client-name {
  color: lightcoral;
}

.client-review {
  color: lightblue;
}

