/* .header-menu-mobile {
    display:flex;
    flex-direction: row;
   
}

.title-menu-mobile {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-menu-mobile {
    width: 45px;
    margin-top: 10px;
    margin-left: 15px;
}
 */
