.menu-header-mobile {
    display:flex;
    flex-direction: row;
    
}

.menu-title-mobile {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-logo-mobile {
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;
}

.figure img{
    border-radius: 10px;
}

.img-section {
    margin-bottom: 30px;
}

.img-container {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 65px;
}

.line {
    margin-top: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

